@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --vh: 1vh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

/* Utility class if needed */
.full-screen-height {
  height: calc(var(--vh, 1vh) * 100);
}

input {
  -webkit-appearance: none;
  appearance: none;
}

input:-webkit-autofill {
  background-color: rgba(255, 255, 255, 0.2) !important;
  -webkit-background-clip: padding-box;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
  border-radius: 9999px;
}
