@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --vh: 1vh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

/* Utility class if needed */
.full-screen-height {
  height: calc(var(--vh, 1vh) * 100);
}

input:-webkit-autofill {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.2) inset !important;
  -webkit-text-fill-color: #0f172a !important; /* slate-900 */
}
